

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



#navbar{
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin-left: 45px;
}

#home{
    display: flex;
    gap: 25px;
    color: #505050;
    height: 17px;
}
.banner-container{
    display: flex;
    background-color: #F7F6F0;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 38px;
  width: 1230px;
  margin-left: 20px;
  border-radius: 8px;
}
 .banner{
    text-align: center;
 }
.banner h1{
    font-size: 48px;
    margin: 0 0 10px 0;
    line-height: 1.1;
}

.collection-container{
    display: flex;
    gap: 22px;
   justify-content: space-around;
    margin-top: 50px;
}
.section-contain{
    margin-top: 80px;
}

.collection-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn {
  border-radius: 10px;
  border: none;
  padding: 10px 23px;
  cursor: pointer;
}
.collection-container p{
 text-align: center;
 font-size: 32px;
 font-weight: 600;
}

.btn{
    text-align: center;
}
.seller{
    text-align: center;
    color: #000000;
    font-size: 14px;

}